<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NYC Accessible Streets</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
    <link id="mode" rel="stylesheet">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <style>
        img{
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    {% include 'common/navbar.html' %}
    <h1 class="page-title">NYC Accessible Streets</h1>
    <div class="img-row">
        <div class="img-container" id="mc4">
            <img src="{% static 'img/nycashome.png' %}">
        </div>
        <div class="img-container" id="mc4">
            <img src="{% static 'img/nycaslogin.png' %}">
        </div>
    </div>
    <a class="gitlink" href="https://github.com/jacintogomez/nycaccessiblestreets" target="_blank">
        <img src="{% static 'img/github-logo.png' %}" alt="git logo">
    </a>
    <script src="{% static 'javascript/dark_switch.js' %}"></script>
</body>
</html>