a.link-box, a.proj-home-link{
    background-color: #7700BC;
    border-color: mediumpurple;
    color: white;
}
.picture-oval{
    border-color: black;
    background-color: black;
}
.img-row{
    background-color: #7600BC;
}
.img-container{
    background-color: black;
}
.text-container{
    background-color: black;
    color: white;
}
.mod-row{
    background-color: #7600BC;
}
.model-container{
    background-color: black;
}
.contact-block, .gm-block{
    background-color: mediumpurple;
    border-color: #7600BC;
}
#drk{
    color: white;
    background-color: #7600BC;
    border-color: mediumpurple;
}


body{
    background: black;
    color: white;
}
.navbar{
    background-color: #7700BC;
}
.navbar-brand, .nav-link{
    color: white;
}