a.link-box, a.proj-home-link{
    background-color: #338D91;
    border-color: white;
    color: white;
}
.picture-oval{
    border-color: white;
    background-color: white;
}
.img-row{
    background-color: #338D91;
}
.img-container{
    background-color: black;
}
.text-container{
    background-color: black;
    color: white;
}
.mod-row{
    background-color: #338D91;
}
.model-container{
    background-color: black;
}
.contact-block, .gm-block{
    background-color: lightblue;
    border-color: #338D91;
}
#drk{
    color: white;
    background-color: #338D91;
    border-color: white;
}


body{
    background: lightblue;
    color: black;
}
.navbar{
    background-color: #338D91;
}
.navbar-brand, .nav-link{
    color: white;
}