.page-title, .center{
    text-align: center;
}
.extern {
    text-align: center;
    padding: 0 0;
    position: relative;
}
a.link-box{
    border-style: solid;
    border-width: 5px;
    display: inline-block; /*consistent width and height*/
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 25px;
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    line-height: 100px;
    transition: transform .3s, background-color 0.5s, color 0.5s;
    z-index: 1;
}
a.link-box:hover{
    transform: scale(1.05);
}
.git-contain{
    position: relative;
    display: inline-block;
}
.git-half{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.git-pin{
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    z-index: 2;
    margin: 35px;
    transition: transform .3s;
    max-height: 100%;
}
.git-pin:hover{
    transform: scale(1.4);
}
.proj-home-link{
    flex: 1;
}
a.proj-home-link{
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    width: 400px;
    height: 300px;
    margin: 25px;
    padding: 10px;
    text-decoration: none;
    transition: transform .3s, background-color 0.5s, color 0.5s;
}
a.proj-home-link:hover{
    transform: scale(1.05);
}

.zoom{
    transition: transform .2s;
    width: 210px;
    height: 105px;
    margin: 0 auto;
}
.zoom:hover{
    transform: scale(1.5);
}

.job-desc{
    flex: 1;
    text-align: center;
}
.job{
    display: flex;
    padding: 50px 0;
}
.picture-oval{
    display: flex;
    flex: 1;
    align-items: center; /*center vertically*/
    justify-content: center; /*center horizontally*/
    margin: auto;
    padding: 20px;
    border-style: solid;
    border-radius: 60px;
}

.img-row{
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
    border-radius: 20px;
}
.img-container{
    flex: 1;
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container{
    flex: 1;
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
}
.gitlink{
    display: flex;
    justify-content: center;
}
.gitlink img{
    height: 50px;
    width: auto;
}
.gitlink img:hover{
    transform: scale(1.15);
    transition: .3s;
}
.mod-row{
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
    border-radius: 20px;
    background-color: #338D91;
}
.model-container{
    flex: 1;
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    background-color: black;
}
.contact-block{
    flex: 1;
    display: flex;
    background-color: lightblue;
    margin: 10px;
    border-radius: 50px;
    border-style: solid;
    border-color: #338D91;
    border-width: 10px;
    transition: .5s;
}
.gm-block{
    flex: 1;
    display: flex;
    background-color: lightblue;
    margin: 10px;
    border-radius: 50px;
    border-style: solid;
    border-color: #338D91;
    border-width: 10px;
    transition: .5s;
}

body, ul{
    margin: 0;
    padding: 0;
}
body{
    transition: background-color 0.5s, color 0.5s;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar-brand {
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 20px;
}
.navbar-nav{
    list-style: none;
    display: flex;
}
.nav-item{
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
    margin: 5px;
}
.navbar-brand:hover{
    opacity: 50%;
    transform: none !important;
}
.nav-link:hover{
    opacity: 50%;
}
